*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*try out this*/
}
html,
body {
  height: 100%;
  width: 100%;
}
#main{
    overflow: hidden;
    position: relative;
}
@font-face {
    font-family: a;
    src: url(./jost-variable.ttf);
}
@font-face {
    font-family: b;
    src: url(./KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}
@font-face {
    font-family: c;
    src: url(./KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}

#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#page1 > video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page1>nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    /* background-color: chartreuse; */
    width: 100vw;
    height: 10vh;
    padding: 0px 90px;
}
#page1>nav>img{
    width: 9%;
    margin-bottom: 45px;
    cursor: pointer;
}
#right-nav {
    padding: 0px 20px;
}
#right-nav > button{
    color: #fff;
    cursor: pointer;
    padding: 10px 18px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 15px;
    font-family: a;
    font-size: 15px;
}
#bottom-page1{
    position: absolute;
    bottom: 10%;
    width: 40%;
    height: 40%;
    left: 15%;
    color: #fff;
    font-family: a;
    padding: 20px;
}
#bottom-page1 > h1{
    font-size: 100px;
    font-weight: 100;
    margin-bottom: 40px;
}
#bottom-page1 > #bottom-inner-page1 {
    display: flex;
    gap: 75px;
}
#bottom-inner-page1 {
    font-size: 20px;
    font-weight: 100;
}
#bottom-inner-page1 > button{
    padding: 23px 40px;
    background-color: rgb(248, 248, 248);
    border: none;
    border-radius: 30px;
    color: rgb(52, 52, 217);
    cursor: pointer;
}